.text {
    cursor: pointer;
    margin-left: 16px;
}

.text:hover {
    text-shadow: 1px 1px 2px #FFFFFF;
}

a[href^="mailto"] { text-decoration: none; color:#FFFFFF; }

a {
    text-decoration: none;
    color:#FFFFFF;
  }

a:visited { text-decoration: none; color:#FFFFFF; }
a:hover { text-decoration: none; color:#FFFFFF; }
a:focus { text-decoration: none; color:#FFFFFF; }
a:hover, a:active { text-decoration: none; color:#FFFFFF }

a[href^="mailto"]:visited { text-decoration: none; color:#FFFFFF; }
a[href^="mailto"]:hover { text-decoration: none; color:#FFFFFF; }
a[href^="mailto"]:focus { text-decoration: none; color:#FFFFFF; }
a[href^="mailto"]:hover, a:active { text-decoration: none; color:#FFFFFF }
